
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
}
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
.background{

      background-color: #F8FEFF;
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
      /* align-items: center; */
      height: 100vh;

}
.backgroundTwo{
  background-color: #A1CFD4;
  width: 100vw;
  height: 45vh;

  
}

.companyName{
  color: #2B2B2B;
  font-family: 'DM Sans', sans-serif;
  font-size: 35px;
  font-weight: bold;
}

.title{
  /* width: 100px; */
  display: flex;
  flex-direction: row;
  height: 5vw;
  align-items: center;
}

.openNowWrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.openNow{
  display: grid;
  width: 100vw;
  justify-items: end;

}

.ShopLocal{
  min-width: 500px;
  font-family: 'DM Sans', sans-serif;
  color: #111F4F;
  font-size: 80px;
  font-weight: 900;
}

.findBusinesses{
  font-family: 'DM Sans', sans-serif;
  color: white;
  font-size: 35px;
  font-weight: 700;
  min-width: 100px;
  justify-content: center;
  text-align: center;

}

.stackText{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200em;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.backgroundThree{
    background-color: #d0e7e2;
      width: 100vw;
      height: 45vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.enterLocation{
  font-family: 'DM Sans', sans-serif;
    color: #111F4F;
    font-size: 45px;
    font-weight: 800;
    padding-left: 120px;

}

.stackTextTwo {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.backgroundFour{
  background-color: #81a59d;
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttonWrapper{
  width: 60em;
  height: 7em;
  display: flex;

  justify-content: center;
  align-items: center;
}
.button {
  width: 30em;
  height: 3em;
  border: none;
  background-color: rgba(7, 60, 220, 0.651);
  color: white;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  text-justify: center;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: rgba(12, 48, 155, 0.651);
  width: 31em;
  height: 3.5em;
  transition-timing-function: ease-in;
  transition: 0.05s;

}
