body {
    /* background-color: #E1EBED; */
    /* padding-bottom: 1500px; */
    /* width: 100vh; */

}

#nav {
    position: absolute;
    width: 98vw;
    height: 80px;

    background: #F2F2F2;
}

#list {
    position: absolute;
    width: 1000px;
    height: 530px;
    left: 130px;
    top: 870px;



    background: #ADD4DB
}

#space {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 530px;
    left: 130px;
    top: 232px;
    border-style: solid;
    border-color: black;
    background: #ADD4DB;
}

#map {
    /* position: absolute;
    top: 350px;
    left: 320px; */
    border-style: solid;

}

input {
    width: 435px;
    height: 40px;
    text-align: center;

}

button {
    width: 100px;
    height: 45px;
    left: 80px;
    background-color: rgba(4, 29, 155, 0.607);
    color: white;
    font-weight: bold;
    border: none;
}

button:hover{
    background-color: rgba(3, 21, 111, 0.854);}

.Location {
    border-radius: 20px;
    margin: 5px;

}

.Food {
 
    border-radius: 20px;
    margin: 5px;
}

#EnterLoc {
    position: absolute;
    top: 120px;
    left: 660px;


    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 55px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #324B4F;
}

#EnterFood {
    position: absolute;
    top: 120px;
    left: 110px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 55px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #324B4F;

}

#output {
    position: absolute;
    top: 810px;
    left: 130px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 55px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #324B4F;
}

.backgroundFive{
    background-color: #E1EBED;
    height: 90vh;
    width: 60vw;
    /* display: flex;
    flex-direction: row; */
}

.searchWrapper{
    display: flex;
    flex-direction: row;
}

.resultsBackgroundWrapper{
    height: 90vh;
    width: 40vw;
    background-color:#E1EBED ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resultsBackground{
    background-color: white;
    height: 80vh;
    width: 35vw;
    align-items: center;  
    justify-content: center;
    overflow: auto;

}

.result{
    font-size: 30px;
    font-weight: 500;
    height: 150px;
    width: 500px;
    border: 2px solid black;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 40px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    border-radius: 5px;

}

.mapWrapper{
    height:80vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputWrapper{
    margin-top: 1em;
}

